<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add New Student</title>
</head>

<body>
    <h1>Add New Student</h1>
    <form action="/students/add" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:value="${student.name}" required />
        <label for="age">Age</label>
        <input type="number" id="age" name="age" th:value="${student.age}" required />
        <button type="submit">Add Student</button>
    </form>
</body>

</html>